  - notes.each do |note|
    .note_container{:style => "left: #{note.x_pos.to_s + 'px'}; top: #{note.y_pos.to_s + 'px'}; z-index: 100", :value => "#{note.id}", :id => "note_#{note.id}"}
      .note{:style => "background: #{note.background} url(/images/note_overlay.png) repeat-x scroll 0 21px;", :class => 'ui-widget-content'}
        =text_area_tag 'notes[content]', note.content, :class => "centered content", :disabled => true
        =link_to " ", "#", :class => "delete_link hide #{note.id}", :confirm => "Permanently delete note?"
      .colors.hide
        .left=link_to " ", "#", :class => 'orange'
        .left=link_to " ", "#", :class => 'yellow'
        .left=link_to " ", "#", :class => 'green'
        .left=link_to " ", "#", :class => 'blue'
        .left=link_to " ", "#", :class => 'white'
      = hidden_field 'notes[#{note.id}][background]', :value => '#FFFFA9'
